Pandas, short for panel data is a Python libraray extensively used in Machine Learning. It is similar to Microsoft Excel and Google Speardsheets in many ways.

How to use pandas library?

In [1]:
# import the library
import pandas as pd       # pd is the alias for pandas for ease of use

In [2]:
# import the datase
df = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Titanic.csv') 
# we can use a URL, file name or file path
# df is a DataFrame, a 2-dimensional entity in pandas that stores the dataset

In [ ]:
# viewing the dataset and its statistical details

df # to view the dataframe

df.head()  # to view the first 5 entires 
df.head(2) # to view the first 2 entires 

df.tail()  # to view the last 5 
df.tail(3) # to view the last 3 

df.info()                    # gives information about the dataframe which includes the no. of entires, no of columns, their names and datatypes, so on
df.describe()                # gives summary statistics of numerical columns which includes count, mean, median, standard deviation, quartiles, so on
df.describe(include = 'all') # gives summary of numerical and non numerical columns which includes count, mean, median, frequency, unique, so on
df.shape                     # gives the no. of rows and columns 
df.columns                   # gives the names of the columns

df.name               # retuns a series
name = df['name']     # saves the column as series 
name = df[['name']]   # saves the column as dataframe

In [ ]:
# to check missing values
df.isna().sum()  # 0 indicates that there are no missing values

# to drop missing values
df = df.dropna()
df.isna().sum()  # to verify if the missing values have been dropped

# to drop values
df = df.drop('age', axis = 1) # axis = 1 indicates that the mentioned object is a column; axis = 0 indicates that the mentioned index/object is a row

In [ ]:
# to create a copy pf the dataframe
titanic = df.copy() # changes made to df dataframe will not be reflected on titanic dataframe

In [ ]:
# to extract unique values from columns

df['sex'].unique()                    # gives the names of the categories
df['sex'].nunique()                   # gives the no. of categories
df[['name']].value_counts()           # gives the count
df[['name', 'sex']].value_counts()    # gives the count of the mentioned columns
df

In [ ]:
# sorting the dataframe

df.sort_values('ticket')                              # soritng is done based on ticket column in ascending order (default)
df.sort_values('ticket', ascending = False)           # sorting is done based on ticket coulmn in descending order
df.sort_values('ticket', 'pclass', ascending = False) # sorting is first done based on ticket and then based on pclass, in descending order

In [ ]:
# to transpose 
df.T # converts rows to columns and columns to rows

In [ ]:
# indexing and slicing using iloc and loc function

df.iloc[0]                      # to extract a single row with index 0
df.iloc[1:8]                    # to extract adjacent rows, from index 1-7 (index 8 is excluded)
df.iloc[0,4]                    # to extract rows with index 0,4
df.iloc[0:3,4]                  # to extract adjacent rows from index 0-2, and a single column with index 4
df.iloc[[0,3,15],4]             # to extract selected rows with index 0,3,15, and a single column with index 4
df.iloc[0,0:4]                  # to extract single row with index 0 and ajacent columns from index 0-3
df.iloc[0,[0,3,2]]              # to to extract single row with index 0, and selected columns with index 0,3,2
df.iloc[0:5,0:4]                # to extract adjacent rows from index 0 to 4, and adjacent columns from index 0 to 3
df.iloc[[3,15,7,9],[0,1,2]]     # to extract selected rows with index 3,15,7,9, and selected columns with index 0,1,2
df.iloc[3:8,[0,4]]              # to extract adjacent rows from index 3 to 7, and selected columns with index 0,4
df.iloc[[3,8,12],0:4]           # to extract selected rows with index 3,8,12, and adjacent columns from index 0 to 3
df.iloc[:,0:4]                  # to extract all rows and adjacent columns from index 0 to 3
df.iloc[:,[0,4]]                # to extract all rows and selected columns with index 0,4
df.iloc[[3,6,15],:]             # to extract selected rows with index 3,6,15, and all columns

df.loc[100,:]                                 # to extract a single row with index 100 and all columns
df.loc[:,['name', 'fare']]                    # to extract all rows, and selected columns with titles name, fare
df.loc[[50,25,15],['pclass','age','fare']]    # to extract selected rows with index 50,25,15, and selected columns with titles pclass, age, fare
df.loc[10:25,['pclass','fare','age']]         # to extract adjacent rows from index 10 to 24, and selected columns with titles pclass, fare, age

In [ ]:
# applying conditions to selection statements

df[df['age']>=35]                                  # to extarct rows with value greater than or equal to 35 in age column
df.loc[(df['age']>=35),'pclass':'age']             # to extract rows with value greater than or equal to 35 in age column, from columns pclass to age
df.loc[(df['age']>=35) & (df['sex'] == 'female')]  # to extract rows with value greater than or equal to 35 in age column, and female in sex column

In [ ]:
# to view the correlation
df.corr()

In [ ]:
# to find the largest and smallest values

df['age'].nlargest(3)     # returns 3 largest values
df['age'].nsmallest(2)    # returns 2 smallest values
df['age'].max()           # returns the largest value
df['age'].min()           # returns the smallest value

In [ ]:
# changing the datatype

df['pclass'].astype('object')                     # datatype of class is chnaged from int64 to object; changes not saved in the dataframe
df['pclass']=titanic['pclass'].astype('object')   # changes are saved in the dataframe

In [ ]:
# using replace function  

df.replace({'sex':{'male':0,'female':1}})                   # encoding is not saved in the dataframe
df.replace({'sex':{'male':0,'female':1}}, inplace =True)    # encoding is saved in the dataframe

In [9]:
tips = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Tips%20Payment%20Data.csv')

tips['Tip']/tips['Total Bill']*100  # calculating percenage of tip to total bill

tips_percentage=tips['Tip']/tips['Total Bill']*100 # creating a new column called tips_percentage; not saved in the dataframe

tips['tips_percentage']=tips['Tip']/tips['Total Bill']*100 # inserting tips_percentage to dataframe

tips['tips_percentage']= tips['tips_percentage'].round(1) # rounding off upto one decimal place

In [ ]:
# to set and reset the index

tips = tips.set_index('Payment ID')
tips = tips.reset_index()

Pandas Profiling

In [ ]:
!pip3 install pandas_profiling --upgrade 

# import libraries
import pandas as pd
from pandas_profiling import ProfileReport

df = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Titanic.csv')  # import dataset
df                                                                                  # display dataframe

profile = ProfileReport(df)   # generate profile report
profile                       # display profile report

profile.to_file('df_profile_report.html')  # save profile as html